<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center">
    <h4>Returns book : <b th:text="${books.namee}"></b></h4>
</div>
<form th:object="${books}" method="post" action="/order/returns/book">
    <div>
        <input th:field="*{id}" style="display: none">
    </div>
    <div style="text-align: center">
        Nhập Mã trên thẻ mà bạn đã được cấp :
        <input id="borrowcCode" name="borrowcCode" th:value="${borrowcCode}" placeholder="Enter the book code you want to return">
        <h4 th:text="${message}"style="color: red"></h4>
    </div>
    <br>
    <div style="text-align: center">
        <button><a th:href="@{/book/list}" style="text-decoration: none ; color: black">Canel</a></button>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>