<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/category/update" >
  <table>
    <tr>
      <td>
        <h3>Form Edit Category</h3>
      </td>
    </tr>
    <tr>
      <td>
        <input th:field="*{category.categoryId}" style="display: none">
      </td>
    </tr>
    <tr>
      <td>
        Name :
        <input th:field="*{category.categoryName}" >
        <br><br>
      </td>
    </tr>
    <tr>
      <td>
        <button><a th:href="@{/category/list}" style="text-decoration: none ; color:black;">Cancel</a></button>
      </td>
      <td>
        <button type="submit">Save</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>